{% extends 'baseadmin.html.twig' %}

{% block title %}Produit{% endblock %}

{% block body %}
<style></style>
<h1>Produit</h1>
<table id="myTable" class="display nowrap dataTable dtr-inline collapsed" style="width: 100%;" role="grid"
    aria-describedby="example_info">
    <thead>
        <role role="row">
            <th class="sorting_asc" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width:50px;"
                aria-sort="ascending" aria-label="Name: activate to sort column descending">Titre</th>
            <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width:50px;"
                aria-label="Position: activate to sort column ascending">Prix</th>
            </role>
        <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width:50px;"
            aria-label="Position: activate to sort column ascending">Image</th>
        <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width:50px;"
            aria-label="Position: activate to sort column ascending">Description</th>
        
        <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width:50px;"
            aria-label="Position: activate to sort column ascending">Categorie</th>
    </thead>
    <tbody>
        {% for produit in produita %}
        <tr role="row" class="even">
            <td class="sorting_1" tabindex="0">{{produit.titre}}</td>
            <td>{{produit.prix}}</td>
            <td>{{produit.image}}</td>
            <td>{{produit.description}}</td>
            <td>{{produit.categorie}}</td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th rowspan="1" colspan="1">Titre</th>
            <th rowspan="1" colspan="1">Prix</th>
            <th rowspan="1" colspan="1">Image</th>
            <th rowspan="1" colspan="1">Description</th>
            <th rowspan="1" colspan="1">Categorie</th>
        </tr>
    </tfoot>
</table>

{{form(produitform)}}


<script></script>
{% endblock %}